# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc
# copied from https://github.com/CLIUtils/CLI11

trigger:
  - main

pr:
  - main

variables:
  units.header: OFF
  units.std: 14
  units.build_type: Debug
  units.options: -DUNITS_ENABLE_TESTS=ON -DUNITS_ENABLE_ERROR_ON_WARNINGS=ON
  CMAKE_BUILD_PARALLEL_LEVEL: 4

jobs:
  - job: ClangTidy
    variables:
      CXX_FLAGS: '-Werror -Wcast-align -Wfloat-equal -Wimplicit-atomic-properties -Wmissing-declarations -Woverlength-strings -Wshadow -Wstrict-selector-match -Wundeclared-selector -Wunreachable-code -ferror-limit=0 -std=c++11'
      units.options: -DUNITS_CLANG_TIDY=ON -DUNITS_CLANG_TIDY_OPTIONS="-fix"
      units.std: 11
      CMAKE_BUILD_PARALLEL_LEVEL: 1
    pool:
      vmImage: 'ubuntu-latest'
    container: helics/buildenv:clang14-builder
    steps:
      - template: .ci/azure-build.yml
      - script: git diff --exit-code --color
        displayName: Check tidy

  - job: Native
    strategy:
      matrix:
        Linux14:
          vmImage: 'ubuntu-latest'
        Linux14shared:
          vmImage: 'ubuntu-latest'
          units.options: -DUNITS_BUILD_SHARED_LBIRARY=ON
        macOS17:
          vmImage: 'macOS-latest'
          units.std: 17
        macOS11:
          vmImage: 'macOS-latest'
          units.std: 11
        Windows17:
          vmImage: 'windows-2019'
          units.options: -DUNITS_BUILD_SHARED_LBIRARY=ON
          units.std: 17
        Windows32bit:
          vmImage: 'windows-2019'
          units.options: -A "Win32" -DUNITS_BUILD_WEBSERVER=OFF
          units.std: 14
        Windows11:
          vmImage: 'windows-2019'
          units.std: 11
        Windowslatest:
          vmImage: 'windows-2022'
          units.std: 23
          units.options: -DCMAKE_CXX_FLAGS="/std:c++latest"
    pool:
      vmImage: $(vmImage)
    steps:
      - template: .ci/azure-build.yml
      - template: .ci/azure-test.yml

  - job: Docker
    variables:
      units.header: OFF
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      matrix:
        gcc7-11:
          containerImage: gcc:7
          units.std: 11
        gcc7-14:
          containerImage: gcc:7
          units.std: 14
        gcc7-17:
          containerImage: gcc:7
          units.std: 17
        gcc8:
          containerImage: gcc:8
          units.std: 17
        clang3.4:
          containerImage: silkeh/clang:3.4
          units.std: 11
          units.options: -DUNITS_ENABLE_TESTS=OFF"
        clang3.5:
          containerImage: silkeh/clang:3.5
          units.std: 11
        gcc9:
          containerImage: gcc:9
          units.std: 17
          units.options: -DCMAKE_CXX_FLAGS="-Wstrict-overflow=5"
        gcc11-project_rename:
          containerImage: gcc:11
          units.std: 17
          units.options: -DUNITS_CMAKE_PROJECT_NAME=LLNL-UNITS"
        gcc12:
          containerImage: gcc:12
          units.std: 20
        gcc13:
          containerImage: gcc:13
          units.std: 20
    container: $[ variables['containerImage'] ]
    steps:
      - template: .ci/azure-cmake.yml
      - template: .ci/azure-build.yml
      - template: .ci/azure-test.yml

  - job: Docker2
    variables:
      units.header: OFF
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      matrix:
        gcc4.8:
          containerImage: helics/buildenv:gcc4-8-builder
          units.std: 11
          units.options:
        clang8:
          containerImage: helics/buildenv:clang8-builder
          units.std: 14
          units.options: -DUNITS_BASE_TYPE=uint64_t
        clang9_17:
          containerImage: helics/buildenv:clang9-builder
          units.std: 17
          units.options: -DUNITS_FORCE_LIBCXX=ON
        clang14_20:
          containerImage: helics/buildenv:clang14-builder
          units.std: 20
          units.options: -DUNITS_FORCE_LIBCXX=ON -DCMAKE_CXX_FLAGS=-std=c++20
        clang16_20:
          containerImage: helics/buildenv:clang16-builder
          units.std: 20
          units.options: -DUNITS_FORCE_LIBCXX=ON -DCMAKE_CXX_FLAGS=-std=c++20
        clang18_23:
          containerImage: helics/buildenv:clang18-builder
          units.std: 23
          units.options: -DUNITS_FORCE_LIBCXX=ON -DCMAKE_CXX_FLAGS=-std=c++23
    container: $[ variables['containerImage'] ]
    steps:
      - template: .ci/azure-build.yml
      - template: .ci/azure-test.yml
