version: 2
aliases:
  - &run_units
    name: run_units
    environment:
    command: |
      mkdir -p build
      cd build
      eval cmake .. ${CMAKE_FLAGS} -DUNITS_ENABLE_ERROR_ON_WARNINGS=ON
      make -j 4
      ctest --verbose

  - &run_fuzz
    name: run_fuzz
    environment:
    command: |
      mkdir -p build
      cd build
      eval cmake .. ${CMAKE_FLAGS} -DUNITS_BUILD_FUZZ_TARGETS=ON -DUNITS_ENABLE_TESTS=OFF -DUNITS_INSTALL=OFF
      make -j 4
      make QUICK_RAW_FUZZ

jobs:
  unitsTSan:
    docker:
      - image: helics/buildenv:sanitizers
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=thread -stdlib=libc++ -L/root/develop/libcxx_tsan/lib -lc++abi -I/root/develop/libcxx_tsan/include -I/root/develop/libcxx_tsan/include/c++/v1 -Wno-unused-command-line-argument -g -O1 -Wl,-rpath=/root/develop/libcxx_tsan/lib"  '
      TSAN_OPTIONS: 'second_deadlock_stack=1'

    steps:
      - checkout
      - run: *run_units

  unitsASan:
    docker:
      - image: helics/buildenv:sanitizers
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=undefined,address -fsanitize-address-use-after-scope -stdlib=libc++ -L/root/develop/libcxx_asan/lib -lc++abi -I/root/develop/libcxx_asan/include -I/root/develop/libcxx_asan/include/c++/v1 -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O1 -Wl,-rpath=/root/develop/libcxx_asan/lib -fsanitize-blacklist=/root/project/.circleci/asan_blacklist.txt"  '
      LSAN_OPTIONS: 'suppressions=/root/project/.circleci/leak_suppression.txt'
      UBSAN_OPTIONS: 'print_stacktrace=1'

    steps:
      - checkout
      - run: *run_units

  unitsMSan:
    docker:
      - image: helics/buildenv:sanitizers
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=memory -stdlib=libc++ -L/root/develop/libcxx_msan/lib -lc++abi -I/root/develop/libcxx_msan/include -I/root/develop/libcxx_msan/include/c++/v1 -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O1 -Wl,-rpath=/root/develop/libcxx_msan/lib" '

    steps:
      - checkout
      - run: *run_units

  unitsFuzz:
    docker:
      - image: helics/buildenv:clang-builder8

    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_CXX_COMPILER_FORCED=ON -DCMAKE_CXX_FLAGS="-g -O1 -fsanitize=fuzzer,undefined,address" '
      UBSAN_OPTIONS: 'print_stacktrace=1'
    steps:
      - checkout
      - run: *run_fuzz
      - store_artifacts:
          path: /root/project/build/FuzzTargets/units_fail_string_artifact.txt
      - store_artifacts:
          path: /root/project/build/FuzzTargets/units_fail_measurement_artifact.txt

workflows:
  version: 2
  units_test:
    jobs:
      - unitsMSan
      - unitsASan
      - unitsTSan
      - unitsFuzz
