name: freebsd

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: run test on FreeBSD
    steps:
    - uses: actions/checkout@v6
    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install -y devel/googletest cmake pkgconf

        run: |
          cmake -S . -B build \
          -DCMAKE_CXX_STANDARD=17 \
          -DUNITS_ENABLE_TESTS=ON \
          -DUNITS_USE_EXTERNAL_GTEST=ON
          cmake --build build -j4
          cd build
          ctest --output-on-failure